apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitops-app
  namespace: argocd
  annotations: 
    argocd-image-updater.argoproj.io/image-list: gitops-img=lehardocker/gitops-app
    argocd-image-updater.argoproj.io/gitops-img.update-strategy: semver
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  project: default
  source:
    repoURL: https://github.com/sureshkumar-devops/gitops-argocd-demo
    targetRevision: master
    path: k8s
  destination:
    server: https://kubernetes.default.svc        
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
