name: Build and Push Image
on:
    push:
      branches:
        - master
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
         - name: Checkout Code
           uses: actions/checkout@v4

         - name: Set Short GITHUB SHA
           run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV          

         - name: Login to Docker Hub
           uses: docker/login-action@v3
           with:
            username: "${{ vars.DOCKER_USERNAME }}"
            password: "${{ secrets.DOCKER_PASSWORD }}"

         - name: Build and Push Docker Image
           uses: docker/build-push-action@v6
           with:
             context: .
             push: false
             tags: lehardocker/gitops-app:${{ env.SHORT_SHA }}

             


             


            